name: Armbian
on:
  workflow_dispatch:
    inputs:
      all:
        description: 'Build ALL assets?'
        type: boolean
        default: false
      asset:
        description: 'Asset'
        type: choice
        options: [kernel, uboot, firmware]
        default: kernel
        required: true
      branch:
        description: 'Branch'
        type: choice
        options: [legacy, vendor, current, edge]
        default: current
        required: true
      board:
        description: 'Board'
        default: rock64
        required: true
      gitbranch:
        description: 'Override Git branch of Armbian repo'
        default: main
      gitowner:
        description: 'Override Git owner of Armbian repo'
        default: armbian
      bcmdhd-sdio:
        description: 'Enable bcmdhd WiFi driver in SDIO mode'
        type: boolean
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.event.inputs.asset }}-${{ github.event.inputs.branch }}-${{ github.event.inputs.board }}-${{ github.event.inputs.bcmdhd-sdio }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  prep:
    runs-on: ubuntu-24.04
    outputs:
      assets: ${{ steps.assets.outputs.assets }}
    steps:
    - name: Generate build matrix
      id: assets
      run: |
        if [ '${{ github.event.inputs.all }}' == 'true' ]
        then
            echo assets=[\
        '"firmware rock64 current",'\
        '"kernel meson current",'\
        '"kernel meson64 current",'\
        '"kernel rockchip current",'\
        '"kernel rockchip64 current",'\
        '"kernel rockchip64 edge",'\
        '"kernel rockchip64 vendor",'\
        '"kernel rockchip64 vendor true",'\
        '"kernel sunxi current",'\
        '"kernel sunxi64 current",'\
        '"kernel odroidxu4 current",'\
        '"uboot nanopct4 current",'\
        '"uboot nanopct6 current",'\
        '"uboot nanopct6 edge",'\
        '"uboot nanopct6 vendor",'\
        '"uboot nanopi-m5 edge",'\
        '"uboot nanopi-m5 vendor",'\
        '"uboot nanopi-m6 current",'\
        '"uboot nanopi-m6 edge",'\
        '"uboot nanopi-m6 vendor",'\
        '"uboot nanopi-r1 current",'\
        '"uboot nanopi-r2s current",'\
        '"uboot nanopi-r3s current",'\
        '"uboot nanopi-r3s-lts current",'\
        '"uboot nanopi-r4s current",'\
        '"uboot nanopi-r4s edge",'\
        '"uboot nanopi-r5c current",'\
        '"uboot nanopi-r5s current",'\
        '"uboot nanopi-r6c current",'\
        '"uboot nanopi-r6c edge",'\
        '"uboot nanopi-r6c vendor",'\
        '"uboot nanopi-r6s current",'\
        '"uboot nanopi-r6s edge",'\
        '"uboot nanopi-r6s vendor",'\
        '"uboot nanopi-r76s edge",'\
        '"uboot nanopi-r76s vendor",'\
        '"uboot nanopiair current",'\
        '"uboot nanopik1plus current",'\
        '"uboot nanopik2-s905 current",'\
        '"uboot nanopim1 current",'\
        '"uboot nanopim1plus current",'\
        '"uboot nanopim4 current",'\
        '"uboot nanopim4v2 current",'\
        '"uboot nanopineo current",'\
        '"uboot nanopineo2 current",'\
        '"uboot nanopineo2black current",'\
        '"uboot nanopineo3 current",'\
        '"uboot nanopineo4 current",'\
        '"uboot nanopineoplus2 current",'\
        '"uboot odroidc1 current",'\
        '"uboot odroidc2 current",'\
        '"uboot odroidc4 current",'\
        '"uboot odroidhc4 current",'\
        '"uboot odroidhc4 edge",'\
        '"uboot odroidn2 current",'\
        '"uboot odroidxu4 current",'\
        '"uboot orangepi3 current",'\
        '"uboot orangepi3-lts current",'\
        '"uboot orangepi3b current",'\
        '"uboot orangepi3b edge",'\
        '"uboot orangepi5 current",'\
        '"uboot orangepi5 edge",'\
        '"uboot orangepi5 vendor",'\
        '"uboot orangepi5-max edge",'\
        '"uboot orangepi5-max vendor",'\
        '"uboot orangepi5-plus current",'\
        '"uboot orangepi5-plus edge",'\
        '"uboot orangepi5-plus vendor",'\
        '"uboot orangepi5-ultra current",'\
        '"uboot orangepi5-ultra edge",'\
        '"uboot orangepi5-ultra vendor",'\
        '"uboot orangepi5pro edge",'\
        '"uboot orangepi5pro vendor",'\
        '"uboot orangepicm5 vendor",'\
        '"uboot orangepizero2w current",'\
        '"uboot orangepizero3 current",'\
        '"uboot pine64 current",'\
        '"uboot pinebook-a64 current",'\
        '"uboot pinebook-pro current",'\
        '"uboot pineh64-b current",'\
        '"uboot radxa-zero current",'\
        '"uboot radxa-zero3 current",'\
        '"uboot radxa-zero3 edge",'\
        '"uboot radxa-zero3 vendor",'\
        '"uboot rock-3a current",'\
        '"uboot rock-4se current",'\
        '"uboot rock-5a current",'\
        '"uboot rock-5a edge",'\
        '"uboot rock-5a vendor",'\
        '"uboot rock-5b current",'\
        '"uboot rock-5b edge",'\
        '"uboot rock-5b vendor",'\
        '"uboot rock64 current",'\
        '"uboot rock64 edge",'\
        '"uboot rockpi-4b current",'\
        '"uboot rockpi-4cplus current",'\
        '"uboot rockpi-s current",'\
        '"uboot rockpro64 current",'\
        '"uboot rockpro64 edge",'\
        '"uboot tinkerboard-2 current",'\
        '"uboot tinkerboard current",'\
        '"uboot zeropi current"'\
        ] >> "$GITHUB_OUTPUT"
        else
            echo assets='["${{ github.event.inputs.asset }} ${{ github.event.inputs.board }} ${{ github.event.inputs.branch }} ${{ github.event.inputs.bcmdhd-sdio }}"]' >> "$GITHUB_OUTPUT"
        fi
  build:
    needs: prep
    strategy:
      matrix:
        assets: ${{ fromJson(needs.prep.outputs.assets) }}
      fail-fast: false
    name: ${{ matrix.assets }}
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Create build variables
      run: |
        read -r ASSET BOARD BRANCH BCMDHD_SDIO <<< '${{ matrix.assets }}'
        echo "ASSET=$ASSET" >> "$GITHUB_ENV"
        case $BOARD in
            'meson') BOARD='odroidc1';;
            'meson64') BOARD='odroidn2';;
            'rockchip') BOARD='tinkerboard';;
            'rockchip64') BOARD='nanopi-m6';;
            'sunxi') BOARD='nanopim1';;
            'sunxi64') BOARD='orangepizero3';;
        esac
        echo "BOARD=$BOARD" >> "$GITHUB_ENV"
        echo "BRANCH=$BRANCH" >> "$GITHUB_ENV"
        echo "BCMDHD_SDIO=$BCMDHD_SDIO" >> "$GITHUB_ENV"
    - name: Clone Armbian repo
      run: |
        git clone -b "${{ github.event.inputs.gitbranch }}" "https://github.com/${{ github.event.inputs.gitowner }}/build" --depth=1
        cd build

        # Cherry-pick commit to switch bcmdhd WiFi driver to SDIO mode
        if [ "$BCMDHD_SDIO" = 'true' ] && [ "$ASSET" = 'kernel' ] && [ "$BRANCH" = 'vendor' ]
        then
          sed -i 's|CONFIG_BCMDHD_PCIE|CONFIG_BCMDHD_SDIO|' config/kernel/linux-rk35xx-vendor.config
        fi
    - name: Build asset
      run: |
        cd build
        ./compile.sh '${{ github.event.inputs.asset }}' BRANCH='${{ github.event.inputs.branch }}' BOARD='${{ github.event.inputs.board }}'
        for i in output/debs/*.deb; do mv -v "$i" "${i%%_*}.deb"; done
    - name: Release and Upload Assets
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.event.inputs.asset }}
        fail_on_unmatched_files: true
        files: build/output/debs/*.deb
